/* font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Header section  start*/
.event{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 26px;
}
.my-nav{
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
    font-size: 16px;
}
.sec1 img{
    max-width: 1440px;
    max-height: 540px;
}
.venue{
    font-family: 'Poppins', sans-serif;
    font-weight: SemiBold;
    font-size: 48px;
}
/* Header Section End */

/* ----------------------------section 2 starting---------------------------- */

.sec2{
    font-family: 'Poppins', sans-serif;
    min-height: 600px;
}
.moment{
    font-size: 38px;
    font-weight: bold;

}



/* -------------------------section 2 ending------------------------- */